<ion-content [fullscreen]="true">
  <app-page-content>
    <div id="app" class="app app-full-height app-without-header">
      <!-- BEGIN login -->
      <div class="login">
        <!-- BEGIN login-content -->
        <div class="login-content">
          <form action="index.html" method="POST" name="login_form">
            <h1 class="text-center">Login</h1>
            <div class="text-white text-opacity-50 text-center mb-4">
              Por su protección, ingresa tus datos de acceso.
            </div>
            <app-form-control>
              <app-label label="Email" [required]="true"></app-label>
              <app-input></app-input>
            </app-form-control>
            <div class="mb-3">
              <div class="d-flex">
                <a href="#" class="ms-auto text-white text-decoration-none text-opacity-50">Olvido la contraseña?</a>
              </div>
              <input type="password" class="form-control form-control-lg bg-white bg-opacity-5" value="" placeholder="" />
            </div>
            <app-checkbox label="Recuérdame"></app-checkbox>
            <app-button label="Entrar" onClick="onSubmit"></app-button>
            <div class="text-center text-white text-opacity-50">
              No tienes cuenta todavía? <a href="page_register.html">Registrase</a>.
            </div>
          </form>
        </div>
      </div>
    </div>
  </app-page-content>
</ion-content>